@import '../../main-styles.scss';

.classes-item {
    display: flex;
    font-size: 18px;
    align-items: center;
    padding: 35px 15px;
    border: 1px solid #f2f3f5;
    cursor: pointer;

    &.completed {
        color: #aaa;
    }
    .check-box {
        display: flex;
        flex-shrink: 0;
        border: 2px solid #eee;
        border-radius: 50%;
        margin-right: 20px;
        height: 28px;
        width: 28px;
        transition: background-color 0.2s;

        i.material-icons {
            font-size: 20px;
            margin: auto;
            opacity: 0; // hide by default
            color: #333;
            transition: opacity 0.2s;
        }
    }
}

.classes-item:hover .check-box {
    background: #eee;
    i.material-icons {
        opacity: 0.28;
    }
}

.classes-item.completed .check-box {
    background: rgb(11, 223, 170);
    border-color: rgb(11, 223, 170);
    i.material-icons {
        opacity: 1;
    }
}
