    <div #container *ngFor= "let lesson of lessons"  class="class-card-container">
        <div class="class-card-content">
                <h1 class="class-card-title">
                    <h2>{{ lesson.subject_name}}</h2>
                </h1>
                <div class="class-card-body">
                    <p> <b>({{ lesson.subject_type_label }})</b></p>
                    <p>単位数：{{ lesson.credit }} </p>
                </div>
                <input type="checkbox" class="plus-button" (click)="onSelect(lesson)">
        </div>
    </div>
